<div class= "container-fluid">
  <header class= "jumbotron container-fluid">
    <div id="header-container">
      <div id="logo-container">
        <h1>DevOracle</h1>
      </div>
      <div id="nav-container">
        <h4><span>{{#link-to 'index'}}Home{{/link-to}}</span> | <span>Search {{fa-icon "search"}}</span> | <a href="https://www.facebook.com">{{fa-icon "facebook" tagName="span"}}</a> <a href="https://www.twitter.com">{{fa-icon "twitter" tagName="span"}}</a> <a href="https://www.facebook.com">{{fa-icon "github" tagName="span"}}</a></h4>
      </div>
    </div>
  </header>
  <div class="main-container">
    {{outlet}}
  </div>
  <footer class=jumbotron>
    <span>{{#link-to 'index'}}Home{{/link-to}}</span> | <span>Search {{fa-icon "search"}}</span> | <a href="https://www.facebook.com">{{fa-icon "facebook" tagName="span"}}</a> <a href="https://www.twitter.com">{{fa-icon "twitter" tagName="span"}}</a> <a href="https://www.facebook.com">{{fa-icon "github" tagName="span"}}</a>
  </footer>
</div>
